



<div class="main-view">

  <div class="col-md-4 m-auto">
    <div class="shadow-sm card action-buttons p-4">
      <button (click)="generateNewPdf('open')"
              class="btn btn-primary d-flex align-items-center justify-content-center mb-2">
        <i class="material-icons">
          picture_as_pdf
        </i> <span>Open PDF</span></button>
      <button (click)=" generateNewPdf('download')"
              class="btn btn-success d-flex align-items-center justify-content-center mb-2">
        <i class="material-icons">
          cloud_download
        </i><span>Download PDF</span></button>
      <button (click)="generateNewPdf('print')"
              class="btn btn-danger d-flex align-items-center justify-content-center">
        <i class="material-icons">
          print
        </i><span>Print PDF</span></button>

    </div>

  </div>

</div>
